# .idea should be ignored by git
.idea/

# pycache should not be include in repo
Django_and_vue/readbook/backed/__pycache__/
Django_and_vue/readbook/backed/migrations/__pycache__/
Django_and_vue/readbook/readbook/__pycache__/
Django_and_vue/readbook/account/__pycache__/
user_based_collaborative_filtering/user_based_CF/__pycache__/
user_based_collaborative_filtering/tests/__pycache__/
__pycache__

# misc
.DS_Store

# venv
venv/

# pytest
user_based_collaborative_filtering/tests/.pytest_cache/